*{
    margin: 0;/* zarando a marigin do site */
    padding: 0;/* zerando o preenchimento*/
    list-style: none;/* removendo os estilos de listas */
    text-decoration: none; /* tirando a decoraçao do texto */
    font-family: sans-serif /* definindo a fonte geral  */
}
html{
    /* adicionando efeito suave do clique entre uma sessao e outra */
    scroll-behavior: smooth
}
/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Sans+Condensed:wght@200..900&display=swap');
/* chamando o cabeçalho para formatação */
header{
    /* preenchimento do cabeçalho */
    padding: 10px;
    /* tornando os itens flexiveis lado-a-lado */
    display: flex;
    /* justificando os conteudos */
    justify-content: space-evenly;
    /* definindo cor de fundo do cabeçalho */
    background-color: #626266;
    /* alinhando itens horizontalmente */
    align-items: center;
    /* alinhando os itens verticalmente */
    text-align: center;
}
/* formatando a imagem */
header img{
    /* definindo o tamanho da imagem */
    width: 80px;
}
/* chamando a lista para formantação */
header ul{
    /* tornando os itens da lista lado-a-lado */
    display: flex;
    /* adicionando espaço nas listas */
    gap: 10px;
    /* colocando sombra nos textos */
    text-shadow: 10px 10px 10px black;
}
/* chamando a ancora para formatação */
header ul li a{
    /* definindo a cor da letra da ancora */
    color: white;
    
}
/* adicionando efeito ao passar o mouse */
header ul li:hover{
    /* efeito de aumentar a escala do iten */
    transform: scale(1.1,1.1);
    /* transição ao aplicar os efeitos */
    transition: 1s;
    /* trocando a cor da sombra do texto */
    text-shadow: 6px 8px 15px white;
}
/* chamando a primeira sessão para formatação */
.section1{
    /* definindo um tamanho da sessão */
    padding: 170px;
    /* adicionando efeito degrade a imagem de fundo da sessão */
    background: linear-gradient(180deg, #00000064 8.33%, rgba(0, 0, 0, 0.745) 100%), url(img2/shear-7576856_1280.jpg);
    /* definindo a cor das letras */
    color: white;
    /* deixado a imagem centralizada */
    background-position: center;
    /* deixando a imagem nao se repitir */
    background-repeat: no-repeat;
    /* deixando a imagem cobrir todo espaço */
    background-size: cover;
    /* tornando os itens lado-a-lado */
    display: flex;
}
/* chamando a imagem da primeira sessao para formatação */
.section1 img{
    /* definindo um tamanho da imagem  */
    width: 250px;
    /* definindo uma curvatura para a imagem */
    border-radius: 20px;
    /* adicionando sombra a imagem */
    box-shadow: 10px 10px 15px rgb(77, 76, 76);
}
/* adicionando efeito ao passar o mouse */
.section1 img:hover{
    /* adicionando efeito de aumento de escala */
    transform: scale(1.2,1.2);
    /* adicionando efeito de suavização para o efeito aplicado */
    transition: 1s;
}
/* chamando a segunda sessão para formatação */
.section2 {
    /* definindo um tamanho da sessão */
    padding: 150px;
    /* definindo uma imagem de fundo */
    background-image: url(img2/scissors-3765409_1280.jpg);
    /* deixando a imagem de fundo centralizada */
    background-position: center;
    /* deixando a imagem de fundo nao se repitir idependente do tamanho da imagem */
    background-repeat: no-repeat;
    /* deixando a imagem de fundo cobrir todo espaço disponivel */
    background-size: cover;
    /* definindo a cor da letra da sessão */
    color: white;
    /* edicionando efeito a imagem de fundo fixada */
    background-attachment: fixed;
}
/* chamando o roda-pé para formatação */
footer{
    /* definindo um tamanho do roda-pé */
    padding: 50px;
    /* alinhando os itens veticalmente */
    align-items: center;
    /* alinhado horizontalmente */
    text-align: center;
    /* justificando os conteudos */
    justify-content: space-between;
    /* definindo uma cor de fundo do botão */
    background-color: #626266;
}
/* chamando a imagem para formatação */
footer img{
    /* definindo o tamanho da imagem */
    width: 90px;
    /* adicionando respiro entre a imagem e os texto */
    margin-bottom: 30px;
}
/* chamando a segunda div para formatação */
.foter{
    /* tornando os itens lado-a-lado */
    display: flex;
    /* alinhando veticalmente os itens */
    text-align: center;
    /* justificando os conteudos */
    justify-content: space-around;
}
/* chamando os icone para formatação */
.foter i{
    /* aumentando os icones */
    font-size: 40px;
    /* adicionando um respiro entre o icone e a caixa */
    padding: 10px;
    /* adiconando a curvatura dos icones */
    border-radius: 10px ;
    /* trocando a cor do icone */
    color: white;
}
/* chamando o icone par formatação */
#insta{
    /* adiconando efeito degrade para o icone */
    background: linear-gradient(150deg, rgb(255, 0, 230) 1.11%,rgb(38, 1, 38) 100%);
    /* adicionando sombra ao icone */
    box-shadow: 6px 5px 15px black;
}
/* chamando o segundo icone para formatação */
#face{
    /* adicionando efeito degrade para o icone */
    background: linear-gradient(150deg, rgb(0, 106, 255) 1.11%, blue 100%);
    /* adicionando sombra para o icone */
    box-shadow: 6px 5px 15px black;
}
/* adiconando efeito ao passar o mouse */
#insta:hover{
    /* adiconando efeito de aumento de escala do icone ao passar o mouse */
    transform: scale(1.2,1.2);
    /* adicionando efeito suavizado da aplicação dos efeitos */
    transition: 1s;
}
/* adicionando efeito ao passar o mouse  */
#face:hover{
    /* adicionando efeito de aumento de escala ao passar o mouse */
    transform: scale(1.2,1.2);
    /* adicionando efeito suavizado da aplicação dos efeitos */
    transition: 1s;
}