*{
    margin: 0;/* zarando a marigin do site */
    padding: 0;/* zerando o preenchimento*/
    list-style: none;/* removendo os estilos de listas */
    text-decoration: none; /* tirando a decoraçao do texto */
    font-family: sans-serif /* definindo a fonte geral  */
}
html{
    /* adicionando efeito suave do clique entre uma sessao e outra */
    scroll-behavior: smooth
}
/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Sans+Condensed:wght@200..900&display=swap');
/* chamando o cabeçalho para formatação */
header{
    /* preenchimento do cabeçalho */
    padding: 10px;
    /* tornando os itens flexiveis lado-a-lado */
    display: flex;
    /* justificando os conteudos */
    justify-content: space-evenly;
    /* definindo cor de fundo do cabeçalho */
    background-color: #626266;
    /* alinhando itens horizontalmente */
    align-items: center;
    /* alinhando os itens verticalmente */
    text-align: center;
}
/* formatando a imagem */
header img{
    /* definindo o tamanho da imagem */
    width: 80px;
}
/* chamando a lista para formantação */
header ul{
    /* tornando os itens da lista lado-a-lado */
    display: flex;
    /* adicionando espaço nas listas */
    gap: 10px;
    /* colocando sombra nos textos */
    text-shadow: 10px 10px 10px black;
}
/* chamando a ancora para formatação */
header ul li a{
    /* definindo a cor da letra da ancora */
    color: white;
    
}
/* adicionando efeito ao passar o mouse */
header ul li:hover{
    /* efeito de aumentar a escala do iten */
    transform: scale(1.1,1.1);
    /* transição ao aplicar os efeitos */
    transition: 1s;
    /* trocando a cor da sombra do texto */
    text-shadow: 6px 8px 15px white;
}
/* chamando a primeira sessão para formatação */
.section1{
    /* definindo um tamanho da sessão */
    padding: 130px;
    /* adicionando efeito degrade a imagem de fundo */
    background: linear-gradient(180deg, #00000064 8.33%, rgba(0, 0, 0, 0.745) 100%), url(img3/barbershop-4484297_1280.jpg);
    /* deixando a imagem de fundo centralizada */
    background-position: center;
    /* deixando a imagem de fundo nao se repetir idependente do tamanho dela */
    background-repeat: no-repeat;
    /* deixando a imagem cobri todo o espaço disponivel */
    background-size: cover;
}
/* chamando o titulo para formatação */
.section1 h2{
    /* distancia entre o titulo e o as divs */
    margin-bottom: 40px;
    /* definindo a cor da letra do titulo */
    color: white;
}
/* chamando a div pai das duas caixas para formatação geral */
.pai{
    /* deixando as div lado-a-lado */
    display: flex;
    /* colocando um respiro entre as caixas */
    gap: 30px;
    /* justificando os conteudos */
    justify-content: space-evenly;
    /* adicionando respiro na divs */
    margin-top: 20px;
}
/* chamando as caixas para formatação */
.pai div{
    /* definindo uma largura para as caixa */
    width: 190px;
    /* uma altura */
    height: 270px;
    /* tornando as caixas lado-a-lado */
    display: flex;
    /* deixando as imagens centralizadas */
    background-position: center;
    /* deixano as imagens nao se repetir */
    background-repeat: no-repeat;
    /* deixando as imagens cobrir todo o espaço */
    background-size: cover;
    /* adicionado a curvatura da caixa */
    border-radius: 20px;
    /* adicionado a sembra as caixas */
    box-shadow: 10px 10px 15px black;
    /* alinhando os itens verticalmente */
    align-items: center;
    /* adicionando respiro entre as caixar */
    gap: 30px;
}
/* chamando a primeira caixa para formatar */
#filho1{
    /* definindo a imagem de fundo */
    background-image: url(img3/corte1.jpg);
    /* adicionando uma sombra ao texto */
    text-shadow: 5px -2px 8px black;
}
/* adicionando efeito ao passar o mous */
#filho1:hover{
    /* adicionando efeito de aumento de escala */
    transform: scale(1.2,1.2);
    /* efeito de suavizaãp */
    transition: 1s;
}
/* chamando o paragrafo da caixa para formatação */
#filho1 p{
    /* alinhando o texto na parte inferior da caixa */
    margin-top: 250px;
    /* definindo um tamanho da fonte */
    font-size: 20px;
    /* espeçura do fonte */
    font-weight: 30px;
    /* alinhando ao centro o texto */
    margin-left: 60px;
    /* definindo a cor da letra */
    color: white;
}
/* chamando a segunda caixa para formatação */
#filho2{
    /* definindo uma imagem de fundo */
    background-image: url(img3/corte2.webp);
    /* adicionando sombra ao texto */
    text-shadow: 5px -2px 8px black;
}
/* adicionando efeito ao passar o mouse */
#filho2:hover{
    /* adicionando efeito de aumento de escala */
    transform: scale(1.2,1.2);
    /* adicionando efeito de suavização */
    transition: 1s;
    
}
/* chamando o paragrafo para formatação */
#filho2 p{
    /* alinhando o paragrafo para a parte inferior da caixa */
    margin-top: 250px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 60px;
    color: white;
}
#filho3{
    background-image: url(img3/corte3.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho3:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho3 p{
    margin-top: 250px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 40px;
    color: white;
}
#filho4{
    background-image: url(img3/corte44.jpeg);
    text-shadow: 5px -2px 8px black;
}
#filho4:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho4 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 40px;
    color: #ffffff;
}
#filho5{
    background-image: url(img3/corte66.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho5:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho5 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 30px;
    color: #ffffff;
}
#filho6{
    background-image: url(img3/corte6.jpeg);
    text-shadow: 5px -2px 8px black;
}
#filho6:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho6 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 30px;
    color: #ffffff;
}
.section2 {
    padding: 170px;
    background: linear-gradient(180deg, black 8.55%, #626266 100%);
}
.section2 h2 {
    margin-bottom: 30px;
    color: white;
}
#filho11{
    background-image: url(img3/waves.jpg);
    text-align: center;
    text-shadow: 5px -2px 8px black;
}
#filho11:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho11 p{
    margin-top: 250px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 60px;
    color: white;
}
#filho22{
    background-image: url(img3/blindado.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho22:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
    
}
#filho22 p{
    margin-top: 250px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 60px;
    color: white;
}
#filho33{
    background-image: url(img3/ceasar.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho33:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho33 p{
    margin-top: 250px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 40px;
    color: white;
}
#filho44{
    background-image: url(img3/desenhos.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho44:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho44 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 40px;
    color: #ffffff;
}
#filho55{
    background-image: url(img3/faux.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho55:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho55 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 50px;
    color: #ffffff;
}
#filho66{
    background-image: url(img3/side.jpg);
    text-shadow: 5px -2px 8px black;
}
#filho66:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#filho66 p{
    margin-top: 230px;
    font-size: 20px;
    font-weight: 30px;
    margin-left: 50px;
    color: #ffffff;
}
footer{
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #626266;
}
footer img{
    width: 90px;
    margin-bottom: 30px;
}
.foter{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.foter i{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px ;
    color: white;
}
#insta{
    background: linear-gradient(150deg, rgb(255, 0, 230) 1.11%,rgb(38, 1, 38) 100%);
    box-shadow: 6px 5px 15px black;
}
#face{
    background: linear-gradient(150deg, rgb(0, 106, 255) 1.11%, blue 100%);
    box-shadow: 6px 5px 15px black;
}
#insta:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
#face:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}